
#startQuiz {
    background-color: rgb(255, 10, 10);
    margin-left: 46%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
  }
  #questionDiv {
    margin: 20px;
  }
  
  #timeLeft {
    float: right;
  }
  
  #backBtn {
    background-color: rgb(255, 10, 10);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
  }
  
  
  
  #clearBtn {
    background-color: rgb(255, 10, 10);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
  }
  
  button {
    border-radius: 8px;
  }
  
  textarea {
    width: 90%;
    margin: 20px;
  }
  
  #Submit {
    background-color: rgb(255, 10, 10);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
  }
  
  label {
    margin-right: 10px;
  }
  input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  li {
    background-color: rgb(255, 10, 10);
    margin-top: 10px;
    padding: 10px 25px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    color: white;
  }
  
  #createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
  }
  
  